@font-face {
  font-family: 'PingFang';src: url('/font/PingFang-SC-Regular.ttf') format('truetype');

}
@font-face {
  font-family: 'D-DINExp';src: url('/font/D-DINExp.otf') format('truetype');
}

@font-face {
  font-family: 'D-DINExp-Bold';src: url('/font/D-DINExp-Bold.otf') format('truetype');
}

