.c-fff {
  color: #fff;
}

.c-000 {
  color: #000;
}

.c-6f6e84 {
  color: #6f6e84;
}

.c-909399 {
  color: #909399;
}

.c-303333 {
  color: #303333;
}


.c-9AA29E {
  color: #9AA29E;
}

.c-606266 {
  color: #606266;
}


.c-313131 {
  color: #313131;
}

.c-303332 {
  color: #303332;
}

.c-50BF8C {
  color: #50BF8C;
}

.c-FA454B {
  color: #FA454B;
}

.c-F5B84A {
  color: #F5B84A;
}

.c-60BAEC {
  color: #60BAEC;
}

.c-6f6e84{
  color: #6f6e84;
}

.c-ff5353 {
  color: #ff5353;
}

