.TVChartContainer {
  height: 6rem;
  width: 100%;
}

.tradingview-chart {
  height: 6rem;
  width: 100%;
}

.web-model {

  .TVChartContainer {
    height: 100%;
    width: 100%;
  }

  .tradingview-chart {
    height: 100%;
    width: 100%;
  }

}